/* SPLIT PANE */
.split-pane, .mainBackground {
    -fx-background-color: #212020;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 0;
    -fx-background-color: #3c3c3c;
}


/* LIST VIEW*/
.list-cell, .list-cell:odd, .list-cell:even {
    -fx-background-color: #272727;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #424242;
    -fx-background-insets: 0 10 0 10;
    -fx-background-radius: 4;
}


/* SLIDER */
.slider .track {
    -fx-pref-height: 2;
    -fx-background-color: #848484;
}

.slider .thumb {
    -fx-pref-height: 14;
    -fx-pref-width: 14;
    -fx-border-radius: 14;
    -fx-border-width: 1.5;
    -fx-background-color: #212020;
    -fx-border-color: #848484;
}


/* CONTEXT MENU*/
.context-menu {
    -fx-background-color: #2B2B2B;
    -fx-border-color: #545454;

    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 1;
    -fx-padding: 4 6 4 6;
    -fx-min-width: 150;
}

.menu-item .label {
    -fx-text-fill: #fff;
}

.menu-item:focused {
    -fx-background-color: #2759B8;
    -fx-background-radius: 4;
}


/* TEXT COLORS */
.textPrimary {
    -fx-font-family: "SF Pro";
    -fx-text-fill: #fff;
}

.textSecondary {
    -fx-font-family: "SF Pro";
    -fx-text-fill: #929c9c
}

.text-field {
    -fx-background-color: transparent;
    -fx-font-family: "SF Pro";
    -fx-text-fill: #fff;
    -fx-border-color: #479BEF;
    -fx-border-radius: 4;
}

/* CONTENT COLORS */
.directory-color {
    -fx-background-color: #272727
}

.button-blue {
    -fx-text-fill: #479BEF;
}

.button-toolbar {
    -fx-background-color: transparent;
    -fx-text-fill: #A0A0A0;
    -fx-padding: 4;
}

.button-toolbar:hover {
    -fx-background-color: #414141;
    -fx-text-fill: #A0A0A0;
}

.image-background {
    -fx-text-fill: #1E1E1E;
    -fx-background-color: #1E1E1E;
}
